/* impostazioni generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Impostazioni sez header */
header{
  background-image: url(../img/hero-header-bakery.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
}

#top-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo{
  margin: 20px 0 0 20px;
}

#top-header nav > ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#top-header li{
  margin: 10px 15px;
  list-style: none;
}

#top-header a{
  text-decoration: none;
  color: #5b2ca2;
  font-size: 15px;
}

#top-header a:hover{
  text-decoration: underline;
}

#top-header i{
  color: #5b2ca2;
}

#left-header{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 100px 60px;
  width: 30%;
}

#left-header p{
  margin: 20px 0;
  font-size: 12px;
  color: #bda2f3;
}

#left-header h1{
  font-size: 35px;
  color: #5b2ca2;
}

#left-header button{
  color: #5b2ca2;
  background-color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

#left-header button:hover{
  background-color: #5b2ca2;
  color: white;
  border-radius: 5px;
}

/* fine header */

/* impostazioni main */

main{
  margin: 80px 60px;
}

#our-products{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#our-products div:first-child{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
}

#our-products div:first-child p{
  color: #bda2f3;
  font-size: 12px;
}

#our-products div:first-child h2{
  color: #5b2ca2;
  margin: 20px 0;
}

#our-products div:first-child button{
  background-color: #5b2ca2;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

#our-products div:first-child button:hover{
  color: #5b2ca2;
  background-color: #e9dedc;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

#our-products div:last-child{
  position: relative;
}


#our-products div:last-child img{
  width: 350px;
  height: 400px;
  margin-left: 20px;
}

#our-products div:last-child  span{
  color: white;
  font-weight: bolder;
  background-color: #bda2f3;
  padding: 5px;
}

#our-products div:last-child > span:first-child{
  position: absolute;
  top: 50%;
  left: 23px;
}

#our-products div:last-child > span:last-child{
  position: absolute;
  top: 50%;
  right: 7px;
}

#cookies-hover{
  height: 400px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 20px;
  color: white;
  text-align: center;
  opacity: 0;
}

#cookies-hover:hover{
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

#cookies-hover p{
  margin: 10px 0;
}


#corporate-weddings{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0;
}

#corporate-weddings > p{
  color: #bda2f3;
  font-size: 12px;
}

#corporate-weddings > h2{
  color: #5b2ca2;
  margin: 20px 0;
}


#corporate-weddings div img{
  width: 580px;
  height: 600px;
  margin-left: 30px;
}

#corporate-weddings > div{
  position: relative;
}

#corporate-hover{
  position: absolute;
  top: 0;
  left: 30px;
  width: 580px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
}

#corporate-hover:hover{
  background-image: url(../img/corporate-hover-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

#wedding-hover{
  position: absolute;
  top: 0;
  right: 0;
  width: 580px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
}

#wedding-hover:hover{
  background-image: url(../img/wedding-hover-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}


#corporate-weddings div > div > p{
  font-size: 12px;
}

#corporate-weddings div > div > h3{
  margin: 15px 0;
}

#corporate-weddings div > div > button{
  background-color: #5b2ca2;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

#products{
  display: flex;
  justify-content: space-between;
}

#products > div:first-child{
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#products > div:first-child h2{
  color: #5b2ca2;
}

#products > div:first-child  p{
  font-size: 12px;
  color: #bda2f3;
  margin: 20px 0;
}

#products > div:first-child button{
  background-color: #5b2ca2;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

#products > div:last-child{
  display: flex;
  justify-content: flex-end;
  position: relative;
}

#products > div:last-child img{
  width: 220px;
  height: 280px;
  margin-left: 5px;
}

#products > div:last-child span:first-child{
  position: absolute;
  top: 45%;
  left: 12px;
}

#products > div:last-child span{
  position: absolute;
  top: 45%;
  right: 5px;
  width: 20px;
  color: white;
  font-weight: bolder;
  background-color: #bda2f3;
  padding: 5px;
}

#choco-hover{
  position: absolute;
  top: 0;
  left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  width: 220px;
  height: 280px;
  opacity: 0;
}

#choco-hover:hover{
  opacity: 1;
}

#products > div:last-child h3{
  color: #5b2ca2;
  text-align: center;
}

#products > div:last-child p:last-child{
  font-size: 12px;
  color: #bda2f3;
  text-align: center;
}

#sez1{
  background-image: url(../img/bakery-process-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 456px;
  margin: 80px 0 30px;
}

#ombreggiato{
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

#ombreggiato > div:first-child{
  height: 45%;
  width: 85%;
  margin-left: 7%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#ombreggiato > div:first-child p{
  font-size: 65px;
}

#ombreggiato > div:last-child{
  display: flex;
  flex-direction: column;
  width: 30%;
  color: white;
  margin: 6% 3% 0 64%;
}

#ombreggiato > div:last-child > p:first-child{
  font-size: 8px;
  color: #e9dedc;
  margin-bottom: 10px;
}

#sez2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sez2 > div:first-child{
  background-image: url(../img/bakery-process-2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 435px;
  width: 50%;
  position: relative;
}

#layer{
  width: 555px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#layer > div:first-child{
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 7%;
}

#layer > div:first-child > p{
  font-size: 30px;
}

#layer > div:last-child{
  width: 280px;
  margin: 21% 0 auto 13%;
  color: white;
}

#layer > div:last-child > p:first-child{
  font-size: 10px;
  color: #e9dedc;
  margin-bottom: 10px;
}

#sez2 > div:last-child{
  height: 435px;
  width: 50%;
  background-color: #e9dedc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 90px;
}

#sez2 > div:last-child > h1{
  color: #5b2ca2;
  margin: 10px 0;
}

#sez2 > div:last-child p{
  font-size: 12px;
}

#sez3{
  background-image: url(../img/bakery-process-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 456px;
  margin: 30px 0 80px;
}

#cover{
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

#cover > div:first-child{
  height: 45%;
  width: 85%;
  margin-left: 7%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cover > div:first-child p{
  font-size: 50px;
}

#cover > div:last-child{
  display: flex;
  flex-direction: column;
  width: 30%;
  color: white;
  margin: 6% 0 0 8%;
}

#cover > div:last-child > p:first-child{
  font-size: 8px;
  color: #e9dedc;
  margin-bottom: 10px;
}

#locations > div:first-child{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#locations > div:first-child > p{
  font-size: 12px;
}

#locations > div:first-child > h1{
  color: #5b2ca2;
  margin: 10px 0 30px;
}

#locations > div:last-child{
  display: flex;
}

#locations > div:last-child img{
  width: 615px;
}

#newyork{
  background-color: lightgrey;
  padding-bottom: 20px;
  margin-bottom: 80px;
}

#newyork  h1{
color: #5b2ca2;
}

#newyork > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}

#london{
  background-color: #f0caa1;
  padding-bottom: 20px;
  margin-bottom: 80px;
}

#london  h1{
color: #5b2ca2;
}

#london > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}

.contatti{
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  width: 100%;
}

.contatti p{
  font-size: 13px;
  color: #878589;
}

.contatti button{
  background-color: white;
  padding: 10px;
  color: #5b2ca2;
  border: none;
  border-radius: 5px;
}

#in-touch{
  display: flex;
  margin-bottom: 80px;
}

#in-touch > div{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#in-touch img{
  width: 300px;
  margin-bottom: 15px;
}

#in-touch > div:last-child{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#middle-sec{
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

#middle-sec > div:first-child{
  background-color: lightgrey;
  width: 600px;
  height: 291.533px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#middle-sec > div:first-child > p{
  font-size: 12px;
}

#middle-sec > div:first-child > h1{
  color: #5b2ca2;
  margin: 15px 0;
}

#middle-sec > div:first-child > button{
  background-color: #5b2ca2;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
}

#middle-sec > div:last-child{
  display: flex;
}

#middle-sec > div:last-child img{
  width: 293px;
  height: 291.533px;
}

#middle-sec > div:last-child > img:first-child{
  margin-right: 15px;
}

#ordina{
  background-image: url(../img/call-to-action-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 308px;
  width: 1349px;
  margin-left: -60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 28%;
}

#ordina > p{
  color: lightgrey;
  font-size: 12px;
}

#ordina > h1{
  color: white;
  margin: 15px 0 30px;
}

#ordina > button{
  background-color: white;
  padding: 10px;
  color: #5b2ca2;
  border: none;
  border-radius: 5px;
}
/* fine main */

/* Impostazioni sez footer */

footer{
display: flex;
flex-direction: row;
justify-content: space-between;
}

#left-footer  ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 20px 0 70px;
}

#left-footer li{
  margin: 10px 15px;
  list-style: none;
}

#left-footer a{
  text-decoration: none;
  color: #5b2ca2;
  font-size: 15px;
}

#left-footer a:hover{
  text-decoration: underline;
}

#left-footer i{
  color: #5b2ca2;
}

#numAcquisti{
  background-color: #e9dedc;
  border-radius: 10px;
  color: #5b2ca2;
}

#left-footer p:last-child{
  font-size: 10px;
  margin-left: 20px;
}

#right-footer{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
}

#right-footer h2{
margin: 50px 20px 20px;
color: #5b2ca2;
}

#right-footer input{
  padding: 6px 45px 6px 10px;
  text-align: left;
  width: 300px;
}

#right-footer button{
  color: white;
  background-color: #5b2ca2;
  padding: 6px;
  border: none;
  border-radius: 5px;
}

#social-icons i{
  color: #5b2ca2;
  margin: 115px 10px 30px;
}
