/* impostazioni generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Impostazioni sez header */
header{
  background-image: url(../img/hero-header-bakery.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
}

#top-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo{
  margin: 20px 0 0 20px;
}

#top-header nav > ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#top-header li{
  margin: 10px 15px;
  list-style: none;
}

#top-header a{
  text-decoration: none;
  color: #5b2ca2;
  font-size: 15px;
}

#top-header a:hover{
  text-decoration: underline;
}

#top-header i{
  color: #5b2ca2;
}

#left-header{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 100px 60px;
  width: 30%;
}

#left-header p{
  margin: 20px 0;
  font-size: 12px;
  color: #bda2f3;
}

#left-header h1{
  font-size: 35px;
  color: #5b2ca2;
}

#left-header button{
  color: #5b2ca2;
  background-color: white;
  padding: 10px;
  border: none;
}

#left-header button:hover{
  background-color: #5b2ca2;
  color: white;
}

/* Impostazioni sez footer */

footer{
display: flex;
flex-direction: row;
justify-content: space-between;
}

#left-footer  ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 20px 0 70px;
}

#left-footer li{
  margin: 10px 15px;
  list-style: none;
}

#left-footer a{
  text-decoration: none;
  color: #5b2ca2;
  font-size: 15px;
}

#left-footer a:hover{
  text-decoration: underline;
}

#left-footer i{
  color: #5b2ca2;
}

#numAcquisti{
  background-color: #e9dedc;
  border-radius: 10px;
  color: #5b2ca2;
}

#left-footer p:last-child{
  font-size: 10px;
  margin-left: 20px;
}

#right-footer{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
}

#right-footer h2{
margin: 50px 20px 20px;
color: #5b2ca2;
}

#right-footer input{
  padding: 6px 45px 6px 10px;
  text-align: left;
  width: 300px;
}

#right-footer button{
  color: white;
  background-color: #5b2ca2;
  padding: 6px;
  border: none;
}

#social-icons i{
  color: #5b2ca2;
  margin: 115px 10px 30px;
}
