/* impostazioni generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Impostazioni sez header */
header{
  background-image: url(../img/hero-header-bakery.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
}

#top-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo{
  margin: 20px 0 0 20px;
}

#top-header nav > ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#top-header li{
  margin: 10px 15px;
  list-style: none;
}

#top-header a{
  text-decoration: none;
  color: #5b2ca2;
  font-size: 15px;
}

#top-header a:hover{
  text-decoration: underline;
}

#top-header i{
  color: #5b2ca2;
}

#left-header{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 100px 60px;
  width: 30%;
}

#left-header p{
  margin: 20px 0;
  font-size: 12px;
  color: #bda2f3;
}

#left-header h1{
  font-size: 35px;
  color: #5b2ca2;
}

#left-header button{
  color: #5b2ca2;
  background-color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

#left-header button:hover{
  background-color: #5b2ca2;
  color: white;
  border-radius: 5px;
}

/* fine header */

/* impostazioni main */

main{
  margin: 80px 60px;
}

#our-products{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#our-products div:first-child{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
}

#our-products div:first-child p{
  color: #bda2f3;
  font-size: 12px;
}

#our-products div:first-child h2{
  color: #5b2ca2;
  margin: 20px 0;
}

#our-products div:first-child button{
  background-color: #5b2ca2;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

#our-products div:first-child button:hover{
  color: #5b2ca2;
  background-color: #e9dedc;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

#our-products div:last-child{
  position: relative;
}


#our-products div:last-child img{
  width: 350px;
  height: 400px;
  margin-left: 20px;
}

#our-products div:last-child  span{
  color: white;
  font-weight: bolder;
  background-color: #bda2f3;
  padding: 5px;
}

#our-products div:last-child > span:first-child{
  position: absolute;
  top: 50%;
  left: 23px;
}

#our-products div:last-child > span:last-child{
  position: absolute;
  top: 50%;
  right: 7px;
}

#cookies-hover{
  height: 400px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 20px;
  color: white;
  text-align: center;
  opacity: 0;
}

#cookies-hover:hover{
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

#cookies-hover p{
  margin: 10px 0;
}


#corporate-weddings{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0;
}

#corporate-weddings > p{
  color: #bda2f3;
  font-size: 12px;
}

#corporate-weddings > h2{
  color: #5b2ca2;
  margin: 20px 0;
}


#corporate-weddings div img{
  width: auto;
  height: 450px;
  margin-left: 30px;
}

#corporate-weddings > div{
  position: relative;
}

#corporate-weddings div > div{
  position: absolute;
  top: 0;
  left: 30px;
  width: 486.35px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
}

#corporate-weddings div > div:hover{
  background-image: url(../img/corporate-hover-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}


#corporate-weddings div > div > p{
  font-size: 12px;
}

#corporate-weddings div > div > h3{
  margin: 15px 0;
}

#corporate-weddings div > div > button{
  background-color: #5b2ca2;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
/* fine main */

/* Impostazioni sez footer */

footer{
display: flex;
flex-direction: row;
justify-content: space-between;
}

#left-footer  ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 20px 0 70px;
}

#left-footer li{
  margin: 10px 15px;
  list-style: none;
}

#left-footer a{
  text-decoration: none;
  color: #5b2ca2;
  font-size: 15px;
}

#left-footer a:hover{
  text-decoration: underline;
}

#left-footer i{
  color: #5b2ca2;
}

#numAcquisti{
  background-color: #e9dedc;
  border-radius: 10px;
  color: #5b2ca2;
}

#left-footer p:last-child{
  font-size: 10px;
  margin-left: 20px;
}

#right-footer{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
}

#right-footer h2{
margin: 50px 20px 20px;
color: #5b2ca2;
}

#right-footer input{
  padding: 6px 45px 6px 10px;
  text-align: left;
  width: 300px;
}

#right-footer button{
  color: white;
  background-color: #5b2ca2;
  padding: 6px;
  border: none;
  border-radius: 5px;
}

#social-icons i{
  color: #5b2ca2;
  margin: 115px 10px 30px;
}
