<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Progetto Finale front-end: Bakery</title>
  </head>
  <body>

    <!-- creo id app per utilizz vue -->
    <div id="app">
      <!-- sez top progetto -->
      <header>

        <!-- sez per logo e navbar -->
        <div id="top-header">

          <img :src="logo" alt="logo" id="logo">

          <nav>

            <ul>

              <li v-for= "items in navBar">

                <a href="#">{{items}}</a>
              </li>

              <li>

                <a href="#"><i class="fas fa-shopping-cart"></i></a>

              </li>

            </ul>

          </nav>

        </div>

        <!-- sez per logo e navbar -->

        <!-- sez info header -->
        <div id="left-header">
          <p>{{headerInfo.intest}}</p>

          <h1>{{headerInfo.titolo}}</h1>

          <p>{{headerInfo.info}}</p>

          <button type="button" name="button">{{headerInfo.button}}</button>
        </div>

        <!-- fine sez info header -->

      </header>

      <!-- sezi centrale progetto -->
      <main>

        <!-- sez our products -->
        <div id="our-products">

          <div>

            <p>OUR PRODUCTS</p>

            <h2>All our delectable pastries are backed fresh in our Kitchen every morning, and are made with all-natural, all organic ingredients. </h2>

            <button type="button" name="button">Start Shopping</button>

          </div>

          <div>

            <span><</span>

            <img src="img\choco-chip-cookies-235x300.jpg" alt="choco-chip cookies">

            <div id="cookies-hover">

              <h3>Choco Chip Cookies</h3>

              <p>Cookies, Pastries</p>

              <p>$19.00  $39.00</p>

            </div>



            <img src="img\strawberry-jam-cookies-235x300.jpg" alt="strawberry-jam-cookies">

            <span>></span>

          </div>

        </div>

          <!-- fine sez our products -->

          <!-- sez corporate weddings -->

          <div id="corporate-weddings">

            <p>CORPORATE & WEDDINGS</p>

            <h2>Baking Special Moments</h2>

            <div>

              <img src="img/corporate-bg.jpg" alt="corporate-bg">

              <div id="corporate-hover">

                <p>INTERNATIONAL BAKERY</p>

                <h3>Corporate Events</h3>

                <button type="button" name="button">Explore more</button>

              </div>

              <img src="img/wedding-bg.jpg" alt="wedding-bg">

              <div id="wedding-hover">

                <p>PRIVATE DINING HALL</p>

                <h3>Weddings & Parties</h3>

                <button type="button" name="button">Explore more</button>

              </div>

            </div>

          </div>

          <!-- fine sez corporate weddings -->

          <!-- sez products -->

          <div id="products">

            <div>

              <h2>Find a freshly baked product perfect for you</h2>

              <p>Integer a nibh vitae ex porttitor rutrum et ut velit. Etiam ac felis at leo feugiat placerat. Sed ac nulla id orci tepor convallis sed.</p>

              <button type="button" name="button">Shop All Products</button>

            </div>

            <div>

              <div>

                <span><</span>

                <img src="img/choco-chip-cookies-235x300.jpg" alt="choco-chip-cookies">

                <p id="choco-hover">SELECT OPTIONS / QUICK VIEW</p>

                <h3>Choco Chip Cookies</h3>

                <p>$19.00 - $39.00</p>

              </div>


              <div>

                <img src="img/strawberry-jam-cookies-235x300.jpg" alt="strawberry-jam-cookies">

                <h3>Strawberry Jam Cookies</h3>

                <p>$24.00 - $62.00</p>

              </div>

              <div>

                <img src="img/strawberry-donut-200x255.jpg" alt="strawberry-donut">

                <h3>Strawberry Donut</h3>

                <p>$24.00 - $42.00</p>

              </div>

              <div>

                <img src="img/perfect-macarons-200x255.jpg" alt="perfect-macaron-200x255.jpg">

                <span>></span>

                <h3>Perfect Macarons</h3>

                <p>$18.00 - $52.00</p>

              </div>

            </div>

          </div>

          <!-- fine sez products -->

          <!-- sezione 1 -->

          <div id="sez1">

            <div id="ombreggiato">

              <div>

                <h1>Tell us what you have in <br> mind</h1>

                <p>01</p>

              </div>

              <div>

                <p>MANUAL INGREDIENTS SELECTION</p>

                <p>Cras consequat lectus vestibulum tortor pulvinar, quis euismod nisl varius. Ut eu laoreet ex. Aliquam erat volutpat. Nullam quis sagittis nibh. Morbi consectetur ultricies ante ac congue. Donec lorem erat, finibus in velit placerat, rutrum augue.</p>

              </div>


            </div>


          </div>

          <!-- fine sezione 1 -->

          <!-- sezione 2 -->

          <div id="sez2">

            <div>

              <div id="layer">

                <div>

                  <h1>We Start Baking</h1>

                  <p>02</p>

                </div>

                <div>

                  <p>SWEET & DELICIOUS</p>

                  <p>Cras consequat lectus vestibulum tortor pulvinar, quis euismod nisl varius. Ut eu laoreet ex. Aliquam erat volutpat. Nullam quis sagittis nibh. Morbi consectetur ultricies ante ac congue. Donec lorem erat, finibus in velit placerat.</p>


                </div>

              </div>

            </div>

            <div>

              <p>DONT JUST TAKE OUR WORD FOR IT</p>

              <h1>"Finally found an alternative to the mass produced products. Something that incorporates real organic ingredients, nutrient dense wellness while promoting sustainability and activity."</h1>

              <p>Rachel Cooper, Founder</p>

            </div>

          </div>

          <!-- fine sezione 2 -->

          <!-- sezione 3 -->

          <div id="sez3">

            <div id="cover">

              <div>

                <h1>Delivered to your home</h1>

                <p>03</p>

              </div>

              <div>

                <p>BAKED TO ORDER & GIFT WRAPPED</p>

                <p>Cras consequat lectus vestibulum tortor pulvinar, quis euismod nisl varius. Ut eu laoreet ex. Aliquam erat volutpat. Nullam quis sagittis nibh. Morbi consectetur ultricies ante ac congue. Donec lorem erat, finibus in velit placerat, rutrum augue.</p>

              </div>

            </div>

          </div>

          <!-- fine sezione 3 -->

          <!-- sez locations -->

          <div id="locations">

            <div>

              <p>LOCATIONS</p>

              <h1>Visit our Bakeries</h1>

            </div>

            <div>

              <div id="newyork">

                <img src="img/new-york-bk-600x397.jpg" alt="new york bekerie">

                <div>

                  <h1>New York</h1>

                  <div class="contatti">

                    <div>

                      <p>CALL US</p>

                      <p>1.800.458.556</p>

                    </div>

                    <div>

                      <p>OPEN ALL WEEK</p>

                      <p>9:00 AM - 6:00 PM</p>

                    </div>

                    <div>

                      <button type="button" name="button">View Map</button>

                    </div>

                  </div>

                </div>

              </div>

              <div id="london">

                <img src="img/london-bk-600x397.jpg" alt="london bakerie">

                <div>

                  <h1>London</h1>

                  <div class="contatti">

                    <div>

                      <p>CALL US</p>

                      <p>1.800.458.556</p>

                    </div>

                    <div>

                      <p>OPEN ALL WEEK</p>

                      <p>9:00 AM - 6:00 PM</p>

                    </div>

                    <div>

                      <button type="button" name="button">View Map</button>

                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>

          <!-- fine sez locations -->
      </main>

      <!-- sez finale progetto -->
      <footer>

        <!-- sez sinistra -->
        <div id="left-footer">

          <img :src="logo" alt="logo" id="logo">

          <ul>
            <li v-for= "items in footerInfo"><a href="#">{{items}}</a></li>
            <li>
              <i class="fas fa-shopping-cart"></i>
              <span id="numAcquisti">0</span>
            </li>
          </ul>

          <p>{{copyright}}</p>

        </div>

        <!-- fine sez sinistra -->

        <!-- sez destra -->

        <div id="right-footer">

          <h2>{{newsLetter}}</h2>

          <div>

            <input type="text" name="" value="" placeholder="Enter email address*">

            <button type="button" name="button">Subscribe</button>

          </div>

          <div id="social-icons">

            <a href="#"><i class="fab fa-instagram"></i></a>

            <a href="#"><i class="fab fa-twitter"></i></a>

            <a href="#"><i class="fab fa-facebook-f"></i></a>

            <a href="#"><i class="fab fa-pinterest-p"></i></a>

          </div>

        </div>

        <!-- fine sez destra -->

      </footer>

    </div>

    <script type="text/javascript" src="js/script.js">

    </script>

  </body>
</html>
